
<link href="./css/lianb.css" rel="stylesheet" type="text/css" />
<link href="./css/proposition.css" rel="stylesheet" type="text/css" />
<!-- 页面 -->
<script  src="./js/scaleLibraryManager/index.js" type="text/javascript" ></script>

 <div class="cont_box fr">
	<ul class="break_bread">
		<li><a href="">量表库</a> &gt; </li>
		<li>上传量表</li>
		<div class="clear"></div>
	</ul>
	<h4 class="edit_re_title">上传量表</h4>
	<div class="edit_re_box">
		<div class="edit_block">
			<div class="text01"><span class="green"><{$scale_name}></span> 已入库成功！</div>
			<div class="text02">量表编号：<{$scale_num}></div>
			<div class="text03">
				<input class="input_button" onclick="showScale()" type="button" value="&lt;&lt; 查看量表" onmouseover="this.className='input_button input_button_hover'" onmouseout="this.className='input_button'" />
				<input class="input_button02" onclick="goAdd()" type="button" value="继续上传 &gt;&gt;" onmouseover="this.className='input_button02 input_button02_hover'" onmouseout="this.className='input_button02'" />
			</div>

		</div>
	</div>
    <div class="clear"></div>
</div>
