<div class="epd_footer">
    <p>
       <span>客服热线:400-888-6250</span>
       <span>|</span>
       <span>皖ICP备05001217号</span>
       <span>安徽科大讯飞信息科技股份有限公司</span>
       <span>版权所有</span>
    </p>
</div>
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.<{$piwikDomain}>"]);
    _paq.push(["setDomains", ["*.<{$piwikDomain}>"]]);
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://<{$piwikUrl}>/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "<{$piwikWebID}>"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Piwik Code -->

