<script type="text/javascript" src="js/flowplayer/flowplayer-3.2.11.min.js"></script>
<div id="pop_layer" class="pop_layer" style="display:none;">
    <div class="pop_layer_main" style="position:relative;width:1000px;height:680px;">
        <div class="smlNavTop_warp">
            <div class="smlNavTop">

                <a id="lbtn_pop_layer_close" href="javascript:;" class="smlNavTop_mateX">X</a>
                <div class="clear"></div>
            </div>

        </div>
        <a href="" style="display:block;width:1000px;height:680px;" id="player" >
        </a>
    </div>
</div>