<link href="./css/lianb_1.css" rel="stylesheet" type="text/css" />
<link href="./css/lioc.css" rel="stylesheet" type="text/css" />

<div class="newTabCR">
    <div class="mt_new fr">
        <div class="mtjd_con_tit">
            <span class="mtjd_con_tit_name">全校统考命题进度</span>
            <label>
                <span>考试类型：</span>
                <select>
                    <option>期中考试</option>
                    <option>期末考试</option>
                </select>
            </label>
            <label>
                <span>年级：</span>
                <select>
                    <option>高一</option>
                    <option>高二</option>
                    <option>高三</option>
                </select>
            </label>
            <label>
                <span>学期：</span>
                <select>
                    <option>2013-2014第一学期</option>
                    <option>2013-2014第二学期</option>
                    <option>2014-2015第一学期</option>
                    <option>2014-2015第二学期</option>
                </select>
            </label>
        </div>
        <div class="mtjd_con_tabel_box">
            <p>2013秋季学期期中考试</p>
            <div class="mtjd_con_tabel_box_step mrt20">
                <img src="./images/mtjd_con_tabel_box_step.png" alt=""/>
            </div>
            <table cellpadding="0" cellspacing="1" class="mrt20">
                <tbody>
                <tr>
                    <td class="name_xuek">语文</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:24%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">数学</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:48%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">英语</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:72%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">物理</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:24%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">化学</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:48%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">生物</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:96%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">历史</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:24%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">地理</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:48%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                <tr>
                    <td class="name_xuek">政治</td>
                    <td class="jind_xuek">
                        <div class="bg_jd" style="width:72%;"><!--span class="bg_jd_text">40%</span--></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>