.clearfix {
    clear: both;
    padding: 0;
    margin: 0;
    border: 0;
    height: 0;
    line-height: 0;
}

.gform {
    overflow: hidden !important;
}

    .gform .gformbox {
        float: left;
        width: 350px;
        margin-bottom: 10px;
        line-height: 27px;
        height: 27px;
    }

    .gform.full .gformbox {
        width: 100%;
        height: auto;
    }

    .gform label, .gform .label {
        display: block;
        float: left;
        margin-left: 10px;
        font-size: 12px;
    }

    .gform input, .gform textarea, .gform select {
        padding: 3px;
        margin: 0;
        vertical-align: middle;
    }

    .gform textarea {
        font: 12px Verdana, Arial, Helvetica, sans-serif;
        overflow: auto;
        height: 40px;
        line-height: 15px;
    }

    .gform .gbtn {
        margin: 0 10px 10px;
        float: right;
    }

    .gform .gbtn2 {
        float: left;
        margin-left: 73px;
    }

    .gform .close {
        position: absolute;
        top: 4px;
        right: 4px;
        line-height: 15px;
        width: 15px;
        height: 15px;
        display: block;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
    }

        .gform .close:hover {
            text-decoration: none;
        }

    .gform .g1 {
        float: left;
        display: block;
        width: 60px;
        text-align: right;
        margin-right: 3px;
        line-height: 25px;
    }

        .gform .g1 em {
            font-style: normal;
            color: red;
        }

    .gform .g2 {
        margin-left: 10px;
        line-height: 27px;
        position: relative;
        display: block;
        float: left;
    }

    .gform .red, .gform .error {
        color: red;
        margin: 5px;
    }

    .gform .tip {
        margin: 5px;
    }

.gloading {
    z-index: 999999;
    background-color: #FBF2B0;
    display: inline-block;
    padding: 6px 18px;
    display: none;
    position: fixed;
    right: 0;
    top: 0;
}

* html .gloading {
    position: absolute;
    top: expression(eval(document.documentElement.scrollTop));
}



.relative_box {
    position: relative;
}

.relative_box .inline_edit_link {
        z-index: 9999;
        position: absolute;
        top: 0;
        right: 0;
        background: #FBF2B0;
        border: 1px solid #CCCCCC;
        font-size: 13px;
        padding: 3px;
}
