@charset "utf-8";
/* CSS Document */


/*公用*/
.mrt10{
    margin-top:10px;
}
.mrt20{
    margin-top:20px;
}
.mrb20{
    margin-bottom:20px;
}
.yellow{
    color:#ff9000;
}
.red{
    color:#ff0000;
}
.green{
    color:#008000;
}
.bule{
    color:#0000ff;
}

/*任务分配*/
.mtqk_table,.mtqk_table_t{
    width:100%;
}
.mtqk_table_t{
    background:#ccc;
}
.mtqk_table_t th{
    height:40px;
    background:#dedede;
    font-weight:bold;
    text-align:center;
    color:#333;
}
.mtqk_table_t td{
    height:35px;
    background:#f8f8f8;
    text-align:center;
}
.mtqk_table_t_text{
    border:1px solid #ccc;
}
.mtqk_table_t td input{
    line-height:22px;
    padding:0 10px;
    cursor:pointer;
    hide-focus: expression(this.hideFocus=true); /*IE6、IE7*/
}
.yl_box_warp a{
    display:inline-block;
}
.yl_box{
    width:520px;
    background:#fff;
    padding:10px;
    border:1px solid #ccc;
    position:absolute;
    left:35%;
    top:50%;
    z-index:10;
}
.yl_box ul{
    float:left;
}
.yl_box li{
    display:inline-block;
    width:240px;
    margin:5px ;
    line-height:22px;
    text-align:left;
    float:left;
}
.yl_box li input{
    display:inline-block;
    width:13px;
    height:13px;
    border:none;
    float:left;
    position:relative;
    top:5px;
}
.yl_box li span{
    width:220px;
    margin-left:5px;
    overflow:hidden;
}
.btn_yl_box{
    width:520px;
    height:24px;
    float:left;

}
.btn_yl_box input{
    margin-left:20px;
}
.btn_right_con{
    width:100%;
    text-align:center;
}
/*.btn_right_con input{
    padding:0 10px;
    margin-left:20px;
    cursor:pointer;
} */
/*任务分配*/


/*发布弹框*/
.rwfp_fb_box{
    width:788px;
    background:#fff;
    margin:0 auto;
    border:1px solid #ccc;
}
.rwfp_fb_box h3{
    height:30px;
    line-height:30px;
    background:#ccc;
}
.rwfp_fb_box h3 span{
    display:inline;
    font-size:18px;
    color:#fff;
    margin-left:20px;
    float:left;
}
.rwfp_fb_box h3 input{
    height:24px;
    padding:0 10px;
    margin-top:3px;
    margin-right:5px;
    float:right;
}
.rwfp_mtxx_con{
    padding:20px;

}
.rwfp_mtxx_con ul{
    margin:0;
    padding:0;
}
.rwfp_mtxx_con ul li{
    display: inline;
    width:100%;
    color:#666;
    line-height:30px;
    margin-top:10px;
    float:left;
    background:#fff;
}
.rwfp_mtxx_con ul li label{
    width:120px;
    float:left;
    text-align:right;
    background:#f9f9f9;
}
.rwfp_mtxx_con ul li span{
    margin-left:20px;
}
.ifo_con{
    width:606px;
    border:1px solid #ccc;
    float:left;
    margin-left:20px;
}
.ifo_con_tit{
    display:block;
    width:606px;
    height:22px;
    line-height:22px;
    background:#f9f9f9;
    border-bottom:1px solid #ccc;
}
.ifo_con_tit a{
    display:inline;
    margin-right:10px;
    color:#666;
    float:right;
}
.ifo_con_text{
    padding:10px;
    overflow: hidden;
    height:38px;
}
.ifo_con_text p{
    line-height:24px;
}
.mtfp_ifo{
    padding:20px;
}

/*全校统考命题进度*/

.mtjd_con_tit{
    width:767px;
    height:34px;
    padding:8px 0;
    background:#f6f6f6;
}
.mtjd_con_tit_name{
    display:inline;
    line-height:35px;
    color:#666;
    font-size:18px;
    float:left;
    margin-left:20px;
}
.mtjd_con_tit label{
    float:right;
    height:30px;
    margin-top:5px;
    margin-right:20px;
}
.mtjd_con_tit label span{
    font-size:14px;
}
.mtjd_con_tabel_box{
    padding:20px;
}
.mtjd_con_tabel_box p{
    text-align:center;
}
.mtjd_con_tabel_box_step{
    text-align:right;
}
.mtjd_con_tabel_box table{
    width:100%;
    background:#ccc;
}
.mtjd_con_tabel_box table td{
    padding:0 10px;
    height:30px;
    background:#fff;
}
.name_xuek{
    width:17%;
    text-align:center;
}
.jind_xuek{
    width:744px;
}
.bg_jd{
    width:744px;
    height:20px;
    background:#99cf9c;
    text-align:right;
    border-radius:10px;
    text-indent:20px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.bg_jd_text{
    display:inline;
    margin-right:10px;
    color:#333;
}