<div id="dlg_paper" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 449px;"><div>
    <div>
        <span>题型：<{$question.categoryTitle}></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>创建时间：<{$question.DateCreated}></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>分数：<{$question.TotalScore}></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        <span><{$question.PaperTitle}></span>
    </div>   
    <{$question.Body}>
    <{$question.Parse}>
    <{$question.Answer}>
    
    </div>
</div>