<script src="./js/question/questionBasket.js" type="text/javascript"></script>
<style type="text/css">
    .hide {
        display: none;
    }

    .hishiti {
        width: 31px;
        height: 31px;
        position: absolute;
        right: -9px;
        bottom: 1px;
        cursor: pointer;
    }
</style>
<div class="xzbox">
<div class="question-table bfb tabA hide" style="margin: 0;">
    <div class="question-table" style="margin: 1px; margin-bottom: 0px;">
        <div class="jiarudeshiti">
            <div class="search" style="border-bottom: solid 1px #DBDBDB; padding: 4px 2px; margin: 0 auto;">
                <select id="selectType" data-placeholder="选择类型" style="width: 150px;" tabindex="-1" name="c_categoryId">
                     <!--  <option value="q_选择题">选择题（0）</option> -->                             
                </select>
            </div>
        </div>
        <div class="jiarudeshiti">
            <span style="float: left; margin-left: 10px;">加入的试题</span>
            <span class="chakanquanbu" style="float: right; margin-right: 10px;"><a href="index.php?c=paper&a=getPaper">查看全部</a></span>
        </div>
        <table class="data-table" cellpadding="0" cellspacing="0">
            <tr>
                <td class="forth-col"><a class="clean" href="#" style="color: #03A295;">题号</a></td>
                <td class="forth-col" style="width: 220px;"><a class="clean" href="#" style="color: #03A295;">已选试题</a></td>
            </tr>
         </table>
    </div>
</div>
<div class="clearfix"></div>
<div class="zujuan_bottom" style="display: none;">
    <div class="fenye1">
        <span class="stl">试题篮</span><span class="shitijianzi" style="padding-left: 0px; padding-right: 5px;">高中语文 (<b>0</b>题)</span><span class="gzsx" style="padding-left: 0;"></span>
    </div>
</div>
<div class="hishiti">
</div>

    </div>
